version: "3.9"
services:
  mongodb:
    image: mongo:6.0
    container_name: mymongodb
    restart: always
    ports:
      - "27018:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: secretpassword
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
    driver: local
